*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body{
    background-color: #473928;
    color: #ffffff;
}

.mid h1{
    font-size: 1.8rem;
    margin-top: 3rem;
    text-align: center;
}

.mid p{
    font-weight: 200;
    text-align: center;
    margin-top: 1rem;
    color: #9fbcb3;
}

.mid ul{
    margin-top: 5rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 100%;
}

.mid ul li{
    list-style: none;
    font-size: 1.1rem;
    padding-bottom: 0.3rem;
}

ul li{
    margin-top: 20px;
}

.Fragen{
    background-color: rgb(86, 61, 25);
    border-radius: 0.6rem;
    height: 10rem;
    width: 90%;
}

.Fragen li{
    text-align: center;
    padding-top: 2rem;
    padding: 20px;
}

.Fragen a{
    margin-top: 1rem;
    display: inline-block;
    margin-left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    align-items: center;
    text-align: center;
    font-weight: 600;
    color: #ffffff;
    background-color: #ce7704;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.Fragen a:hover{
    background-color: #a15c01;
    color: #ffffff;
}